<!DOCTYPE html>
<html>
<head>

<title>Plant Disease Detection</title>

<style>

body{
font-family:Arial;
text-align:center;
background:#e8f5e9;
}

nav{
background:#2e7d32;
padding:15px;
}

nav a{
color:white;
margin:20px;
font-size:18px;
text-decoration:none;
}

.container{
margin-top:60px;
background:white;
padding:30px;
border-radius:12px;
width:400px;
margin:auto;
box-shadow:0 0 15px gray;
}

button{
background:#2e7d32;
color:white;
padding:10px 20px;
border:none;
border-radius:8px;
}

</style>

</head>

<body>

<nav>
<a href="/">🌿 Home</a>
<a href="/history">📜 History</a>
</nav>

<h1>🌱 Smart Plant Disease Detection 🌱</h1>

<div class="container">

<form method="POST" enctype="multipart/form-data">

<input type="file" name="file" required>
<br><br>

<button type="submit">Detect Disease 🌿</button>

</form>

</div>

</body>
</html>